{% import '_macros.html' as macros %}
<h3 class="h5">Visualização dos Dados Brutos</h3>
<div class="table-responsive">
    <table class="table table-sm table-striped table-hover">
        <thead>
            <tr>
                {% for header in headers %}
                <th style="min-width: 120px;">{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                {% for header in headers %}
                <td>{{ row[header] }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{{ macros.render_pagination(
    current_page=page,
    total_pages=total_pages,
    target_selector="#tabela-container-card-body",
    hx_get_url_base="/covertype/tabela",
    indicator_selector="#covertype-spinner"
) }}
<p class="text-muted mb-0 small mt-1">
    Mostrando {{ start_idx }}-{{ end_idx }} de {{ total_rows }} registros
</p>