{% if error_message %}
<div class="alert alert-warning">{{ error_message }}</div>
{% else %}
<div id="pca-chart-container" data-chart-config='{{ chart_pca_json | safe }}'>
    <div class="card shadow-sm">
        <div class="card-body">
            <div id="chart-pca-1" style="min-height: 465px;">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="spinner-border text-primary" role="status">
                         <span class="visually-hidden">Carregando gráfico PCA...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}